from sentinelhub import SHConfig

# Rename to config.py

config = SHConfig()
config.sh_client_id = "<client_id>"
config.sh_client_secret = "<client secret>"
config.sh_token_url = "https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token"
config.sh_base_url = "https://sh.dataspace.copernicus.eu"